html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(0deg, #060522 30%, #061434);
    --tw-text-opacity: 1;
    color: rgb(203 213 225/var(--tw-text-opacity));
    font-family: Jetbrains Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    /* min-height: 3000px; */
    min-height: 200vh;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    counter-reset: section;
    --green: #64ffda;
    --font-mono: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
}

/* #root {
    background: linear-gradient(0deg, #060522 30%, #061434);
    --tw-text-opacity: 1;
    color: rgb(203 213 225/var(--tw-text-opacity));
    font-family: Jetbrains Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    min-height: 3000px;
} */

h1,
h2,
h3,
h4,
h5,
h6,
hr,
p {
    margin: 0;
}

p {
    margin-bottom: 15px;
}

h1, h2 {
    color: white;
}

.numbered-heading::before {
    position: relative;
    counter-increment: section 1;
    content: "0" counter(section) ".";
    margin-right: 10px;
    color: var(--green);
    /* font-family: var(--font-mono); */
    /* font-size: clamp(var(16px),3vw,var(20px)); */
    font-weight: 400;

}

.numbered-heading {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    /* font-size: clamp(26px,5vw,var(32px)); */
    white-space: nowrap;
}

.flex {
    width: 100%;
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

/* .max-w {
    max-width: 56rem;
} */

.leading-relaxed {
    line-height: 1.625;
}

.w-full {
    width: 100%;
}

.info {
    width: 40%;
    padding: 3rem;
}

.grid {
    display: grid;
}

.gap-16 {
    gap: 4rem;
}

.gap-12 {
    gap: 3rem;
}

.gap-4 {
    gap: 1rem;
}

.font-medium {
    font-weight: 500;
}

.text-slate-400 {
    --tw-text-opacity: 1;
    color: rgb(148 163 184/var(--tw-text-opacity));
}

.italic {
    font-style: italic;
}

.text-sm {
    font-size: .875rem;
}

.text-slate-100 {
    --tw-text-opacity: 1;
    color: rgb(241 245 249/var(--tw-text-opacity));
}

.text-xl {
    font-size: 1.25rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.text-slate-800\/50 {
    color: rgba(30, 41, 59, .5);
}

.inline {
    display: inline;
}

hr {
    border: none;
    border-top: 3px dotted #333;
    color: #f0e6e6;
    overflow: visible;
    text-align: center;
    height: 5px;
}

.btn {
    border: none;
    cursor: pointer;

}

.btn-transparent {
    backdrop-filter: blur(2.5px);
}

.btn-down {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    /* left: 50%; */
    top: 93%;
    left: 50%;
    /* background-color: rgba(255, 255, 255, 0.1); */
    background-color: transparent;
    transition: background-color 0.2s ease-out, backdrop-filter 0.2s ease-out;
    transform: translate(-50%, -50%); 
    display: block;
}

.btn-down:hover {
    background-color: rgba(255, 255, 255, 0.073);
    backdrop-filter: blur(3px);
    transition: background-color 0.2s ease-out, backdrop-filter 0.2s ease-in;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.animation {
    padding: 40px;
    height: 100%;
    width: 100%;

    /* height: 10vh; */
    /* width: 10vw; */
    box-sizing: border-box;

}

.magic {
    display: inline-block;
    position: relative;
    font-size: 12.4481px;
    white-space: pre;
    color: rgb(106, 110, 165);
    border-radius: 20px;
    background: linear-gradient(hsla(0, 6%, 7%, 0) 50%, rgba(20, 20, 20, 0.25) 0), linear-gradient(90deg, rgba(255, 0, 0, .06), rgba(0, 255, 0, .02), rgba(0, 0, 255, .06));
    background-size: 100% 2px, 3px 100%;
    /* border: 1px solid #4a4949; */
    box-shadow: inset 0 0 30px #fbfbfb08;
    box-shadow: outset 30px 30px 30px #f60606f2;

    box-sizing: border-box;
    height: 100%;
    /* width: 100%; */
}

.border-box-sizing {
    box-sizing: border-box;
}

.text-align-center {
    text-align: center;
}

.magic-line {
    height: 13px;
}

.center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.svg-logo {
    box-shadow: outset 0 0 30px #d61616ee;
    backdrop-filter: blur(2px);
}

.svg-logo:hover {
    background-color: rgba(255, 255, 255, 0.073);
    /* backdrop-filter: blur(3px); */
    transition: background-color 0.2s ease-out, backdrop-filter 0.2s ease-in;}

.recent-technologies {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px, 10px;
    padding: 0px;
    /* list-style: none; */
}

/* ::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark-slate);
    border: 3px solid var(--navy);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: var(--navy);
} */

@media (min-width: 768px) {
    .md\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 768px){
    .info {
        width: 80%;
    }

    .animation {
        padding: 15px;
    }
}